<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/index.css">
        <link rel="stylesheet" href="../static/css/animacoes.css">
        <title>Cao head</title>
    </head>

    <body>
        <div class="container">
            <div class="background">
            </div>
        </div>
        
        <div style="bottom: 20px;" id="player" class="stop_r"></div>

        <script  src="../static/js/armas.js"></script>
        <script  src="../static/js/player.js"></script>
        <script  src="../static/js/inimigos.js"></script>
        <script  src="../static/js/mapa.js"></script>
        <script  src="../static/js/movimentacao.js"></script>
    </body>

</html>